html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    text-align: center;
    color: #fff;
    position: relative;
    height: 38vh;
}

.header-background {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1-1170x490.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);

}

.header {
    transform: scale(0.8);
    transform-origin: top;
    position: absolute;
    z-index: 2;
    left: -10%;
    text-align: center;
    font-size: 7em;
    text-decoration: underline;
    line-height: -50;
    width: 120%;
    filter: brightness(90%);
}

.about {
    transform: scale(0.7);
    transform-origin: top;
    font-size: 3em;
    position: absolute;
    bottom: -220px;
    left: -10px;
    text-decoration: underline;
    color: #B0E0E6;


}


h3 {
    font-size: 1.4em;
    position: absolute;
    bottom: -280px;
    left: 30px;
    color: #ADD8E6;
}

ul {
    transform: scale(0.9);
    font-size: 1.8em;
    position: absolute;
    bottom: -660px;
    left: 18px;
}

li {
    margin-bottom: 50px;
    margin-left: 5px;
    text-align: left;

}

.last {
    color: #333;
}

.school-section
{
    position: absolute;
    left: 0;

}

.interests-section
{
    position: absolute;
    left: 0;
}

.favorite-subjects-section {
    position: absolute;
    left: 0;
}


.school-section {
    bottom: -890px;
}

.interests-section {
    bottom: -1090px;
}

.favorite-subjects-section {
    bottom: -1290px;
}


ul li a[href="#school-section"]
{
    color: white;
    text-decoration: none;
}


ul li a[href="#interests-section"]
{
    color: white;
    text-decoration: none;
}



ul li a[href="#favorite-subjects-section"] {
    color: green;
    text-decoration: none;
}

ul li a:hover {
    color: cyan;
}

ul li:last-child:hover {
    color: #00ff00;
}



.school-section h2{
position: absolute;
left: 10px;
bottom: 20px;
}

.interests-section h2{
position: absolute;
left: 10px;
bottom: 20px;
}


.favorite-subjects-section h2{
position: absolute;
left: 10px;
bottom: 20px;
}


td {
    padding-left: 8px; /
}


.school-image {
position: absolute;
left: 10px;
bottom: -120px;
width: 75%;


}


.project {
    position: absolute;
    bottom: -220px;
    left: 73%;
    transform: scale(0.7);
    transform-origin: top;
    font-size: 3em;
    text-decoration: underline;
    color: #B0E0E6;
}

.proj-text {
    position: absolute;
    left: 66%;
    font-size: 1.5em;
}

.project-container {
    position: relative;
    width: 100%;
    bottom: -95%;
}


.pokedex {
    position:absolute;
    color: #00ff00;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.5em;
    left: 76.3%;
    bottom: -320px;
    font-weight: bold;

}

.pokedex:hover {
    color: yellow;
    text-decoration: underline;
}


}
.test{
     position: absolute;
    bottom: -278px;
    right: -1150px;

    }


.sch-link {
position: absolute;
left: 95px;
bottom: 43px;
color: #00ff00;
text-decoration:none;
white-space: nowrap;
font-size: 1.2em;
}

sch-link:hover {
color: blue;
text-decoration:underline;

}
.chess{

position: absolute;
left: 5px;
bottom: -50px;
color: blue;
text-decoration:none;
white-space: nowrap;
font-size: 1.2em;

}

